<Html>
  <Head>
    <Title>Invoicer</Title>
    {% include 'dwiest-django-demos/django-messages.css' %}
    {% include 'dwiest-django-demos/invoicer/invoice.css' %}
    <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </Head>
  <Body>

  {% include "dwiest-django-demos/hamburgernav.html" %}


<Div class="page_title">
View Bill-To
</Div>

<Div>
  {% include 'dwiest-django-demos/django-messages.html' %}
</Div>

<Div style="width:80%;border:0px;border-style:solid;margin-left:auto;margin-right:auto;margin-bottom:20px;">
<Table style="width:100%;">
  <Tr>
    <Td align="left">
      <A href="{% url 'demos:invoicer:home' %}">Home</A>
      |
      <A href="{% url 'demos:invoicer:bill_to_index' %}">List of Bill-To's</A>
      </Td>
    <Td align="right">
      <A href="{% url 'demos:invoicer:bill_to_edit' %}?id={{bill_to.id}}">Edit</A>
      </Td>
    </Tr>
  </Table>
  </Div>

<Div class="bill_to_form">
<Table>
  <Tr>
    <Th>
Id:
      </Th>
    <Td>
{{bill_to.id}}
      </Td>
    </Tr>
  <Tr>
    <Th>
Name:
      </Th>
    <Td>
{{bill_to.name}}
      </Td>
    </Tr>
  <Tr>
    <Th>
Description:
      </Th>
    <Td>
{{bill_to.description}}
      </Td>
    </Tr>
  <Tr>
    <Th>
Address Line 1:
      </Th>
    <Td>
{{bill_to.line_1}}
      </Td>
    </Tr>
  <Tr>
    <Th>
Address Line 2:
      </Th>
    <Td>
{{bill_to.line_2}}
      </Td>
    </Tr>
  <Tr>
    <Th>
City:
      </Th>
    <Td>
{{bill_to.city}}
      </Td>
    </Tr>
  <Tr>
    <Th>
State:
      </Th>
    <Td>
{{bill_to.state}}
      </Td>
    </Tr>
  <Tr>
    <Th>
Zipcode:
      </Th>
    <Td>
{{bill_to.zipcode}}
      </Td>
    </Tr>
  </Table>
  </Div>

</Div>
</Body>
</Html>
