<Style>
form.otp {
  padding-top: 10px;
}

img.otp {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 60%;
  }

table.otp {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.5vw;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid;
  border-collapse: collapse;
  }

table.otp th {
  text-align: left;
  border: 0px solid;
  width: 1px;
  white-space: nowrap;
  }

table.otp td {
  text-align: left;
  border: 0px solid;
  background: white;
  }

.secret-value {
  color: blue;
  }

.otp-button {
  margin-top: 10px;
  margin-bottom: 10px;
  }

.provisioning-issuer {
  color: black;
  width: 100%;
  }

.provisioning-name {
  color: black;
  width: 100%;
  }

.secret-key {
  color: black;
  width: 100%;
  }

@media only screen and (max-width: 600px) {
  img.otp {
    width: 300px;
    }
  table.otp {
    width: 85%;
    }
  table.otp th {
    font-size: 3vw;
    }
  .otp-button {
    font-size: 3vw;
    }
  .provisioning-issuer {
    font-size: 3vw;
    }
  .provisioning-name{
    font-size: 3vw;
    }
  .secret-key{
    font-size: 3vw;
    }
  .secret-value {
    font-size: 4vw;
    }
}

@media only screen and (min-width: 600px) {
  img.otp {
    width: 350px;
    }
  table.otp {
    width: 80%;
    }
  table.otp th {
    font-size: 2.7vw;
    }
  .otp-button {
    font-size: 2.7vw;
    }
  .provisioning-issuer {
    font-size: 2.7vw;
    }
  .provisioning-name{
    font-size: 2.7vw;
    }
  .secret-key {
    font-size: 2.7vw;
    }
  .secret-value {
    font-size: 3.6vw;
    }
}

@media only screen and (min-width: 768px) {
  img.otp {
    width: 350px;
    }
  table.otp {
    width: 75%;
    }
  table.otp th {
    font-size: 2.4vw;
    }
  .otp-button {
    font-size: 2.4vw;
    }
  .provisioning-issuer {
    font-size: 2.4vw;
    }
  .provisioning-name{
    font-size: 2.4vw;
    }
  .secret-key {
    font-size: 2.4vw;
    }
  .secret-value {
    font-size: 3.2vw;
    }
}

@media only screen and (min-width: 992px) {
  img.otp{
    width: 350px;
    }
  table.otp {
    width: 70%;
    }
  table.otp th {
    font-size: 2.2vw;
    }
  .otp-button {
    font-size: 2.2vw;
    }
  .provisioning-issuer {
    font-size: 2.2vw;
    }
  .provisioning-name{
    font-size: 2.2vw;
    }
  .secret-key {
    font-size: 2.2vw;
    }
  .secret-value {
    font-size: 2.9vw;
    }
}

@media only screen and (min-width: 1200px) {
  img.otp{
    width: 350px;
    }
  table.otp {
    width: 65%;
    }
  table.otp th {
    font-size: 2vw;
    }
  .otp-button {
    font-size: 2vw;
    }
  .provisioning-issuer {
    font-size: 2vw;
    }
  .provisioning-name{
    font-size: 2vw;
    }
  .secret-key {
    font-size: 2vw;
    }
  .secret-value {
    font-size: 2.6vw;
    }
}
</Style>
