<Html>

<Head>
  <Title>OTP</Title>
  {% include 'dwiest-django-demos/default.css' %}
  {% include 'dwiest-django-demos/django-messages.css' %}
  {% include 'dwiest-django-demos/otp/otp.css' %}
  {% load tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </Head>

<Body>

<Div class="filler"></Div>

{% block header %}
{% with title='Time-Based OTP' breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

<Div class="filler"></Div>

{% if form.non_field_errors %}
<P>
{% for error in form.non_field_errors %}
<Div class="error" align="center">{{error}}</Div>
{% endfor %}
</P>
{% endif %}

{% if form.errors %}
<P>
{% for field in form %}
  {% for error in field.errors %}
<Div class="error" align="center">{{error}}</Div>
  {% endfor %}
{% endfor %}
</P>
{% endif %}

{% if form.otp %}
<Img class="otp" src="data:image/png;base64,{{form.qrcode}}"/>
{% endif %}

<Div class="secret-value" align="center">{{form.otp}}</Div>

<Div class="filler"></Div>

<Form class="otp" method="post" action="{% url 'demos:otp:home' %}">
{% csrf_token %}
  <Table class="otp">
    <Tr>
      <Th>{{form.name.label}}:</Th>
      <Td>{{form.name}}</Td>
      </Tr>
    <Tr>
      <Th>{{form.issuer_name.label}}:</Th>
      <Td>{{form.issuer_name}}</Td>
      </Tr>
    <Tr>
      <Th>{{form.secret_key.label}}:</Th>
      <Td>{{form.secret_key}}</Td>
      </Tr>
    </Table>
    <Div align="center"><Input class="otp-button" type="submit" name="submit" value="Get Password"></Input></Div>
</Form>

{% footer %}
</Body>
</Html>
