<Html>
  <Head>
    <Title>
      {% if invoice.id %}
        Edit Invoice
      {% else %}
        Add Invoice
      {% endif %}
      </Title>
    {% include 'dwiest-django-demos/django-messages.css' %}
    {% include 'dwiest-django-demos/invoicer/invoice.css' %}
    </Head>

  <Body>
    <Div>
      {% if invoice.id %}
        Edit Invoice
      {% else %}
        Add Invoice
      {% endif %}
      </Div>
    {% include 'dwiest-django-demos/django-messages.html' %}
    <Div>
      <Form action="{% url 'demos:invoicer:invoice_edit' %}" method="POST">
      {% csrf_token %}
      <Input type="hidden" name="id" id="id" value="{{invoice.id}}"/>
      <Table width="100%">
      {{form}}
      </Table>
      </Div>
    <Div>
      {{formset.management_form}}
      <Table class="inv_line_items">
      <!--
      <Tr>
        <Th>{{f.id.label}}</Th>
        <Td>{{f.id.value}}</Td>
	</Tr>
	-->
      <Tr>
        <Th>
	  Id
	  </Th>
        <Th>
	  Status
	  </Th>
        <Th>
	  Date
	  </Th>
        <Th>
	  Description
	  </Th>
        <Th>
	  Rate
	  </Th>
        <Th>
	  Quantity
	  </Th>
        <Th>
	  Delete
	  </Th>
	</Tr>
    {% for f in formset %}
      <Tr>
        {{f.id}}
        <Td>{% if f.id.value %}{{f.id.value}}{%else%}NEW!{%endif%}</Td>
        <Td>{{f.status}}</Td>
        <Td>{{f.date}}</Td>
        <Td>{{f.description}}</Td>
        <Td>{{f.rate}}</Td>
        <Td>{{f.quantity}}</Td>
        <Td>{{f.DELETE}}</Td>
	</Tr>

      <!--
      {{f}}
      -->
    {% endfor %}
      </Table>
      </Div>
    <Div>
      <P>
      <Input type="submit"/>
      </Div>
    </Form>

    <Div>
      <P>
      <A href="{% url 'demos:invoicer:invoice_view' %}?id={{invoice.id}}">Cancel</A>
      </Div>

    </Body>
  </Html>
