<Style>
  .risk-score {
    text-align: center;
    color: red;
    }

  form.grecaptcha {
    text-align: center;
    }

  form.grecaptcha button {
    color: black;
    Xbackground: white;
    border: 1;
    }

  @media only screen and (max-width: 600px) {
    .risk-score {
      font-size: 7vw;
      }
    form.grecaptcha button {
      font-size: 6vw;
      }
  }

  @media only screen and (min-width: 600px) {
    .risk-score {
      font-size: 5vw;
      }
    form.grecaptcha button {
      font-size: 5vw;
      }
  }

  @media only screen and (min-width: 768px) {
    .risk-score {
      font-size: 5vw;
      }
    form.grecaptcha button {
      font-size: 5vw;
      }
  }

  @media only screen and (min-width: 992px) {
    .risk-score {
      font-size: 5vw;
      }
    form.grecaptcha button {
      font-size: 5vw;
      }
  }

  @media only screen and (min-width: 1200px) {
    .risk-score {
      font-size: 5vw;
      }
    form.grecaptcha button {
      font-size: 5vw;
      }
  }
</Style>
