<Html>

<Head>
  <Title>{{page_name}}</Title>
{% include 'dwiest-django-demos/default.css' %}
{% include 'dwiest-django-demos/django-messages.css' %}
{% include 'dwiest-django-demos/grecaptcha/grecaptcha.css' %}
{% load tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<script src="https://www.google.com/recaptcha/enterprise.js?render={{site_key}}"></script>
<script>
function onSubmit(token) {
  document.getElementById("recaptcha-form").submit();
}
</script>
  </Head>

<Body>

<Div class="filler"></Div>

{% block header %}
{% with title=page_name breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

{% if form.non_field_errors %}
<P>
{% for error in form.non_field_errors %}
<Div class="error">{{error}}</Div>
{% endfor %}
</P>
{% endif %}

{% if form.errors %}
<P>
{% for field in form %}
  {% for error in field.errors %}
<Div class="error">{{error}}</Div>
  {% endfor %}
{% endfor %}
</P>
{% endif %}

{% if request.session.risk_score %}
<Div class="risk-score">Your risk score is {{request.session.risk_score}}</Div>
{% endif %}

<Div class="filler"></Div>

<Form class="grecaptcha" method="post" action="{% url 'demos:grecaptcha:home' %}" id="recaptcha-form">
{% csrf_token %}
<button class="g-recaptcha"
data-sitekey="{{site_key}}"
data-callback='onSubmit'
data-action='{{action}}'>Get Risk Score</button>
</Form>

<Div class="filler"></Div>

{% footer %}
</Body>
</Html>
