{% for bookmark in page_obj %}
  {% if not bookmark.article_date %}
    {% ifchanged bogus %}
</Ol>
<Div class="undated">Undated Links</Div>
<Ol>
    {% endifchanged %}
   <Li><A href="{{bookmark.url}}" target="_">{{bookmark.title|default:bookmark.url}}</A> <A class="edit" href="{% url 'demos:bookmarks:bookmark' %}?id={{bookmark.id}}">edit</A></Li>
  {% else %}
    <!--
    {% ifchanged bookmark.article_date.year %}
  <Div class="year">{{bookmark.article_date|date:'Y'}}</Div>
    {% endifchanged %}
    -->
    {% ifchanged bookmark.article_date.month %}
</Ol><Div class="month">{{bookmark.article_date|date:'F, Y'}}</Div>
    {% endifchanged %}
    {% ifchanged bookmark.article_date.day %}
</Ol>
<Div class="day">{{bookmark.article_date|date:'l -  F j, Y'}}</Div>
<Ol>
  <Li><A href="{{bookmark.url}}" target="_">{{bookmark.title|default:bookmark.url}}</A> <A class="edit" href="{% url 'demos:bookmarks:bookmark' %}?id={{bookmark.id}}">edit</A></Li>
    {% else %}
  <Li><A href="{{bookmark.url}}" target="_">{{bookmark.title|default:bookmark.url}}</A> <A class="edit" href="{% url 'demos:bookmarks:bookmark' %}?id={{bookmark.id}}">edit</A></Li>
    {% endifchanged %}
  {% endif %}
{% endfor %}
</Ol>
