<Div align="right">
<Form action="{% url 'demos:bookmarks:home' %}" method="GET">
<Table>
  <Tr>
    <Th><Input type="submit" value="Filter:"/></Th>
    <Td>
      {% for choice in filter.filter %}
      {{choice.tag}}</Input>
      {% if choice.choice_label == 'date' %}
        {{filter.month}}
        {{filter.year}}
      {% else %}
      {{choice.choice_label}}
      {% endif %}
      </Br>
      {% endfor %}
      </Td>
      </Tr>
    </Table>
    {{filter.show_hidden}}
    {{filter.show_hidden.label}}
    {{filter.show_deleted}}
    {{filter.show_deleted.label}}
    {{filter.hide_read}}
    {{filter.hide_read.label}}
</Form>
</Div>
