<!doctype html>
<Html>

<Head>
  <Title>Bookmarks</Title>
  {% include 'dwiest-django-demos/default.css' %}
  {% include 'dwiest-django-demos/django-messages.css' %}
  {% include 'dwiest-django-demos/bookmarks/bookmarks.css' %}
  {% load dwiest_django_demos.tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </Head>

<Body>

{% block header %}
{% with title='Bookmarks' breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

<Div align="right">
<Form action="{% url 'demos:bookmarks:home' %}" method="GET">
<Table>
  <Tr>
    <Th><Input type="submit" value="Filter:"/></Th>
    <Td>
      {% for choice in filter.filter %}
      {{choice.tag}}{{choice.choice_label}}</Input>
      {% if choice.tag == 'date' %}
        <Select name="month">
          <Option value="">-</Option>
	  <Option value="1">January</Option>
	  <Option value="2">February</Option>
	  <Option value="3">March</Option>
	  <Option value="4">April</Option>
	  <Option value="5">May</Option>
	  <Option value="6">June</Option>
	  <Option value="7">July</Option>
	  <Option value="8">August</Option>
	  <Option value="9">September</Option>
	  <Option value="10">October</Option>
	  <Option value="11">November</Option>
	  <Option value="12">December</Option>
	  </Select>
        <Select name="year">
          <Option value="2023">2023</Option>
	  <Option value="2022">2022</Option>
	  </Select>
      {% endif %}
      </Br>
      {% endfor %}
      </Td>
      </Tr>
    </Table>
</Form>
</Div>

{% include 'dwiest-django-demos/bookmarks/quickadd.html' %}

{% include 'dwiest-django-demos/bookmarks/errors.html' %}

{% include 'dwiest-django-demos/bookmarks/bookmarks.html' %}

<Div class="filler"></Div>

{% include 'dwiest-django-demos/bookmarks/paginator.html' %}

{% footer %}
</Body>
</Html>
