<Html>
<Head>
  <Title>Inventory Tracker - Edit</Title>
</Head>
<Body>
<Div align="center">Inventory Tracker Edit</Div>

{% include 'dwiest-django-demos/django-messages.html' %}

<P>
Created at: {{form.item.created_at}}
<P>
Last modified: {{form.item.last_modified}}
<P>
<Form name="list_edit" method="post" url="{% url 'demos:inventory:list_edit' %}">
{% csrf_token %}
{{form}}
{% if form.instance.id %}
<Input type="hidden" name="id" value="{{form.instance.id}}" id="id_id"></Input>
{% endif %}
Delete: <Input type="checkbox" value="off" name="delete" id="id_delete"></Input>
<Input type="submit"></Input>
</Form>
<P>
<A href="{% url 'demos:inventory:home' %}">Cancel</A>
</Body>
</Html>
