<Html>

<Head>
  <Title>{{page_name}}</Title>
  {% include 'dwiest-django-demos/css.html' %}
  {% include 'dwiest-django-demos/django-messages-css.html' %}
  {% include 'dwiest-django-demos/footer-css.html' %}
  {% include 'dwiest-django-demos/qrcode/css.html' %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </Head>

<Body>

{% block header %}
{% with title='QR Code Generator' breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

{% if form.non_field_errors %}
<P align="center">
{% for error in form.non_field_errors %}
<Div>{{error}}</Div>
{% endfor %}
</P>
{% endif %}

{% if form.errors %}
<P align="center">
{% for field in form %}
  {% for error in field.errors %}
<Div class="error">{{error}}</Div>
  {% endfor %}
{% endfor %}
</P>
{% endif %}

<Div class="filler"></Div>
{% if form.qrcode %}
<Img class="qrcode" src="data:image/png;base64,{{form.qrcode}}"/>
{% endif %}
<Div class="filler"></Div>

<Form class="qrcode" method="post" action="{% url 'demos:qrcode:home' %}">
  {% csrf_token %}
  <Span style="white-space:nowrap;"><Span class="label">{{form.input_text.label}}:</Span> {{form.input_text}}</Span>
  <Div><Input class="qrcode-button" type="submit" name="submit" value="Generate QR Code"></Input></Div>
</Form>
<Div class="footer">{% include "footer.html" %}</Div>
</Body>
</Html>
