<Html>

<Head>
  <Title>QR Code Generator</Title>
  {% include 'dwiest-django-demos/default.css' %}
  {% include 'dwiest-django-demos/django-messages.css' %}
  {% include 'dwiest-django-demos/qrcode/qrcode.css' %}
  {% load dwiest_django_demos.tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </Head>

<Body>

{% include "dwiest-django-demos/hamburgernav.html" %}

<Div style="height:50px;"></Div>

{% block header %}
{% with title='QR Code Generator' breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

{% if form.non_field_errors %}
<P align="center">
{% for error in form.non_field_errors %}
<Div>{{error}}</Div>
{% endfor %}
</P>
{% endif %}

{% if form.errors %}
<P align="center">
{% for field in form %}
  {% for error in field.errors %}
<Div class="error">{{error}}</Div>
  {% endfor %}
{% endfor %}
</P>
{% endif %}

<Div class="filler"></Div>

{% if form.qrcode %}
<Img class="qrcode" src="data:image/png;base64,{{form.qrcode}}"/>
{% endif %}
<Div class="filler"></Div>

<Form class="qrcode" method="post" action="{% url 'demos:qrcode:home' %}">
  {% csrf_token %}
  <Span style="white-space:nowrap;"><Span class="label">{{form.text.label}}:</Span> {{form.text}}</Span>
  <Div><Input class="qrcode-button" type="submit" name="submit" value="Generate QR Code"></Input></Div>
</Form>

<Div class="filler"></Div>

{% footer %}

</Body>
</Html>
