<Style>
form.qrcode {
  color: black;
  width: 80%;
  border: 0px solid;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  }

 img.qrcode {
   margin-left: auto;
   margin-right: auto;
   vertical-align: middle;
 }

.label {
  color: black;
  }

.qrcode-button {
  color: black;
  margin-top: 10px;
  }

.qrcode-input{
  color: blue;
  margin-top: 10px;
  width: 80%;
  }

@media only screen and (max-width: 600px) {
  .qrcode-button {
    font-size: 3vw;
    }
  .qrcode-input {
    font-size: 3vw;
    }
  .label {
    font-size: 3vw;
    }
}

@media only screen and (min-width: 600px) {
  .qrcode-button {
    font-size: 3vw;
    }
  .qrcode-input {
    font-size: 3vw;
    }
  .label {
    font-size: 3vw;
    }
}

@media only screen and (min-width: 768px) {
  .qrcode-button {
    font-size: 2.5vw;
    }
  .qrcode-input {
    font-size: 2.5vw;
    }
  .label {
    font-size: 2.5vw;
    }
}

@media only screen and (min-width: 992px) {
  .qrcode-button {
    font-size: 2.25vw;
    }
  .qrcode-input {
    font-size: 2.25vw;
    }
  .label {
    font-size: 2.25vw;
    }
}

@media only screen and (min-width: 1200px) {
  .qrcode-button {
    font-size: 2vw;
    }
  .qrcode-input {
    font-size: 2vw;
    }
  .label {
    font-size: 2vw;
    }
}
</Style>
