<Style>
  img.selenium {
    width: 80%;
  }

  form.selenium {
    text-align: center;
    }

  .selenium-button {
    margin-top: 10px;
    }

  .selenium-height-label {
    margin-top: 10px;
    }

  .selenium-width-label {
    margin-top: 10px;
    }

  .selenium-url-label {
    margin-top: 10px;
    }

  .selenium-height {
    color: blue;
    width: 15%;
    margin-top: 10px;
    }

  .selenium-width {
    color: blue;
    width: 15%;
    margin-top: 10px;
    }

  .selenium-url {
    color: blue;
    width: 80%;
    margin-top: 10px;
    }

  @media only screen and (max-width: 600px) {
    .selenium-button {
      font-size: 4vw;
      }
    .selenium-height {
      font-size: 4vw;
      }
    .selenium-width {
      font-size: 4vw;
      }
    .selenium-url {
      font-size: 4vw;
      }
    .selenium-height-label {
      font-size: 4vw;
      }
    .selenium-width-label {
      font-size: 4vw;
      }
    .selenium-url-label {
      font-size: 4vw;
      }
  }

  @media only screen and (min-width: 600px) {
    .selenium-button {
      font-size: 3.6vw;
      }
    .selenium-height {
      font-size: 3.6vw;
      }
    .selenium-width {
      font-size: 3.6vw;
      }
    .selenium-url {
      font-size: 3.6vw;
      }
    .selenium-height-label {
      font-size: 3.6vw;
      }
    .selenium-width-label {
      font-size: 3.6vw;
      }
    .selenium-url-label {
      font-size: 3.6vw;
      }
  }

  @media only screen and (min-width: 768px) {
    .selenium-button {
      font-size: 3.2vw;
      }
    .selenium-height {
      font-size: 3.2vw;
      }
    .selenium-width {
      font-size: 3.2vw;
      }
    .selenium-url {
      font-size: 3.2vw;
      }
    .selenium-height-label {
      font-size: 3.2vw;
      }
    .selenium-width-label {
      font-size: 3.2vw;
      }
    .selenium-url-label {
      font-size: 3.2vw;
      }
  }

  @media only screen and (min-width: 992px) {
    .selenium-button {
      font-size: 2.9vw;
      }
    .selenium-height {
      font-size: 2.9vw;
      }
    .selenium-width {
      font-size: 2.9vw;
      }
    .selenium-url {
      font-size: 2.9vw;
      }
    .selenium-height-label {
      font-size: 2.9vw;
      }
    .selenium-width-label {
      font-size: 2.9vw;
      }
    .selenium-url-label {
      font-size: 2.9vw;
      }
  }

  @media only screen and (min-width: 1200px) {
    .selenium-button {
      font-size: 2.6vw;
      }
    .selenium-height {
      font-size: 2.6vw;
      }
    .selenium-width {
      font-size: 2.6vw;
      }
    .selenium-url {
      font-size: 2.6vw;
      }
    .selenium-height-label {
      font-size: 2.6vw;
      }
    .selenium-width-label {
      font-size: 2.6vw;
      }
    .selenium-url-label {
      font-size: 2.6vw;
      }
  }
</Style>
