<Html>

<Head>
  <Title>{{page_name}}</Title>
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% include 'dwiest-django-demos/default.css' %}
{% include 'dwiest-django-demos/django-messages.css' %}
{% include 'dwiest-django-demos/selenium/selenium.css' %}
{% load tags %}
  </Head>

<Body>

<Div class="filler"></Div>

{% block header %}
{% with title=page_name breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

<Div class="filler"></Div>

{% if form.image %}
<Div align="center">
<Img class="selenium" src="data:image/png;base64,{{form.image}}"/>
</Div>

<Div class="filler"></Div>
{% endif %}

{% if messages %}
<P>
{% for message in messages %}
  <Div class="error" align="center">{{message}}</Div>
{% endfor %}
</P>
{% endif %}

{% if form.non_field_errors %}
<P>
{% for error in form.non_field_errors %}
  <Div class="error" align="center">{{error}}</Div>
{% endfor %}
</P>
{% endif %}

{% if form.errors %}
<P>
{% for field in form %}
  {% for error in field.errors %}
  <Div class="error" align="center">{{error}}</Div>
  {% endfor %}
{% endfor %}
</P>
{% endif %}

<Form class="selenium" method="post" action="{% url 'demos:selenium:home' %}">
  {% csrf_token %}
  <Div><Span class="selenium-url-label">{{form.url.label}}:</Span> {{form.url}}</Div>
  <Div><Span class="selenium-width-label">{{form.width.label}}:</Span> {{form.width}} <Span class="selenium-height-label">{{form.height.label}}:</Span> {{form.height}}</Div>
  <Input class="selenium-button" type="submit" name="submit" value="Get Screenshot"></Input>
</Form>

<Div class="filler"></Div>

{% footer %}
</Body>
</Html>
