<Style>
  form.selenium {
    text-align: center;
    }

  img.selenium {
    margin-top: 10px;
    margin-bottom: 10px;
    }

  .selenium-button {
    margin-top: 10px;
    }

  .selenium-height-label {
    margin-top: 10px;
    }

  .selenium-width-label {
    margin-top: 10px;
    }

  .selenium-url-label {
    margin-top: 10px;
    }

  .selenium-height {
    color: blue;
    width: 15%;
    margin-top: 10px;
    }

  .selenium-width {
    color: blue;
    width: 15%;
    margin-top: 10px;
    }

  .selenium-url {
    color: blue;
    width: 80%;
    margin-top: 10px;
    }

  @media only screen and (max-width: 600px) {
    img.selenium {
      width: 80%;
      }
    .selenium-button,
    .selenium-height,
    .selenium-height-label,
    .selenium-width,
    .selenium-width-label,
    .selenium-url,
    .selenium-url-label {
      font-size: 3vw;
      }
  }

  @media only screen and (min-width: 600px) {
    img.selenium {
      width: 75%;
      }
    .selenium-button,
    .selenium-height,
    .selenium-height-label,
    .selenium-width,
    .selenium-width-label,
    .selenium-url,
    .selenium-url-label {
      font-size: 2.7vw;
      }
  }

  @media only screen and (min-width: 768px) {
    img.selenium {
      width: 70%;
      }
    .selenium-button,
    .selenium-height,
    .selenium-height-label,
    .selenium-width,
    .selenium-width-label,
    .selenium-url,
    .selenium-url-label {
      font-size: 2.4vw;
      }
  }

  @media only screen and (min-width: 992px) {
    img.selenium {
      width: 65%;
      }
    .selenium-button,
    .selenium-height,
    .selenium-height-label,
    .selenium-width,
    .selenium-width-label,
    .selenium-url,
    .selenium-url-label {
      font-size: 2.2vw;
      }
  }

  @media only screen and (min-width: 1200px) {
    img.selenium {
      width: 60%;
      }
    .selenium-button,
    .selenium-height,
    .selenium-height-label,
    .selenium-width,
    .selenium-width-label,
    .selenium-url,
    .selenium-url-label {
      font-size: 2vw;
      }
  }
</Style>
