<Style>
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  margin: auto;
  vertical-align: middle;
  }
table.home {
  align: middle;
  border: 0px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  }
table.home th {
  border: 0px solid;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
  }
table.home td {
  border: 0px solid;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: right;
  padding: 10px;
  }

table.home td a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  }

table.home td a:hover {
  background: lightgray;
  }

.filler {
  flex: 1;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  }
.center {
  text-align: center;
  }
.right {
  text-align: right;
  }

@media only screen and (max-width: 600px) {
h2 {
  font-size: 5vw;
  }
h3 {
  font-size: 4vw;
  }
img.otp {
  width: 200px;
  }
img.qrcode {
  width: 300px;
  }
table.home {
  width: 80%;
  }
table.home th {
  font-size: 5vw;
  }
table.home td {
  font-size: 5vw;
  }
}

@media only screen and (min-width: 600px) {
h2 {
  font-size: 4.5vw;
  }
img.otp {
  width: 250px;
  }
img.qrcode {
  width: 350px;
  }
table.home {
  width: 80%;
  }
table.home th {
  font-size: 4vw;
  }
table.home td {
  font-size: 4vw;
  }
}

@media only screen and (min-width: 768px) {
h2 {
  font-size: 4vw;
  }
img.otp {
  width: 300px;
  }
img.qrcode {
  width: 400px;
  }
table.home {
  width: 75%;
  }
table.home th {
  font-size: 4vw;
  }
table.home td {
  font-size: 4vw;
  } 
}
@media only screen and (min-width: 992px) {
h2 {
  font-size: 3.6vw;
  }
img.otp {
  width: 350px;
  }
img.qrcode{
  width: 400px;
  }
table.home {
  width: 70%;
  }
table.home th {
  font-size: 3vw;
  }
table.home td {
  font-size: 3vw;
  }
}
@media only screen and (min-width: 1200px) {
h2 {
  font-size: 3.2vw;
  }
img.otp {
  width: 350px;
  }
img.qrcode{
  width: 400px;
  }
table.home {
  width: 65%;
  }
table.home th {
  font-size: 3vw;
  }
table.home td {
  font-size: 3vw;
  }
}
</Style>
