<Style>
.info{
  color: #000000;
  background-color: #00ff00;
  }
.error{
  color: #ffffff;
  background-color: #ff0000;
  }
.warning{
  color: #ffffff;
  background-color: #ff00ff;
  }

@media only screen and (max-width: 600px) {
  .info,
  .error,
  .warning {
    font-size: 3vw;
    }
}

@media only screen and (min-width: 600px) {
  .info,
  .error,
  .warning {
    font-size: 2.7vw;
    }
}

@media only screen and (min-width: 768px) {
  .info,
  .error,
  .warning {
    font-size: 2.4vw;
    }
}

@media only screen and (min-width: 992px) {
  .info,
  .error,
  .warning {
    font-size: 2.2vw;
    }
}

@media only screen and (min-width: 1200px) {
  .info,
  .error,
  .warning {
    font-size: 2vw;
    }
}
</Style>
