<Style>
@media only screen and (max-width: 600px) {
h1.header {
  font-size: 5vw;
  text-align: center;
  }
a.header {
  font-size: 3vw;
  text-align: center;
  }
}
@media only screen and (min-width: 600px) {
h1.header {
  font-size: 4.5vw;
  text-align: center;
  }
a.header {
  font-size: 2.7vw;
  text-align: center;
  }
}
@media only screen and (min-width: 768px) {
h1.header {
  font-size: 4.1vw;
  text-align: center;
  }
a.header {
  font-size: 2.4vw;
  text-align: center;
  }
}
@media only screen and (min-width: 992px) {
h1.header {
  font-size: 3.7vw;
  text-align: center;
  }
a.header {
  font-size: 2.2vw;
  text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
h1.header {
  font-size: 3.3vw;
  text-align: center;
  }
a.header {
  font-size: 2vw;
  text-align: center;
  }
}
</Style>
