<Html>
<Head>
  <Title>Django Demos</Title>
{% include "dwiest-django-demos/default.css" %}
{% include "dwiest-django-demos/django-messages.css" %}
{% load dwiest_django_demos.tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
<Div class="filler"></Div>

{% block header %}
{% with title='Django Demos' breadcrumbs=False %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

<Table class="home">
  <Tr>
    <Th class="home">Files</Th>
    <Td class="home"><A href="{% url 'demos:file:index' %}">File manager</A></Td>
    </Tr>
  <Tr>
    <Th class="home">Graphics</Th>
    <Td class="home"><A href="{% url 'demos:qrcode:home' %}">QR code generator</A></Td>
    </Tr>
  <Tr>
    <Th class="home">OTP</Th>
    <Td class="home"><A href="{% url 'demos:otp:home' %}">Time-based</A></Td>
    </Tr>
  <Tr>
    <Th class="home">Web</Th>
    <Td class="home">
      <A href="{% url 'demos:bookmarks:home' %}">Bookmarks</A><Br/>
      <A href="{% url 'demos:grecaptcha:home' %}">Google reCAPTCHA</A><Br/>
      <A href="{% url 'demos:selenium:home' %}">Selenium</A>
      </Td>
    </Tr>
</Table>

<Div class="filler"></Div>

{% footer %}
</Div>
</Body>
</Html>
