<Style>
table.details {
  background-color: #ffffff;
  border: 0px solid;
  border-collapse: collapse;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  }

table.details textarea.description-input {
  color: red;
  width: 90%;
  height: 100px;
  resize: none;
}

table.details input.name-input {
  color: blue;
  width: 90%;
}

table.details td {
  padding: 5px;
  }

table.details th {
  font-weight: bold;
  text-align: right;
  padding: 5px;
  }

table.index {
  background-color: #ffffff;
  border: 0px solid;
  border-collapse: collapse;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 95%;
  }

table.index button {
  margin-top: 2px;
  margin-bottom: 2px;
  }

table.index button a {
  text-decoration: none;
  }
table.index button a:hover {
  background: lightgray;
  }

table.index button.delete {
  border: 0px;
  background: white;
  }

table.index button.delete a{
  color: black;
  }

table.index button.download {
  border: 0px;
  background: white;
  }

table.index button.download a {
  color: black;
  }

table.index button.open {
  border: 0px;
  background: white;
  }

table.index button.open a {
  color: black;
  }

table.index td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  }

table.index td a {
  text-decoration: none;
  }

table.index td a:hover {
  background: lightgray;
  }

table.index th {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  }

table.info {
  background-color: #ffffff;
  border: 0px solid;
  border-collapse: collapse;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  }

table.info th {
  background: #ffffff;
  color: #000000;
  width: 1px;
  white-space: nowrap;
  text-align: right;
  }

table.info td {
  align: left;
  }

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  }

form input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  }

form.details a {
  color: black;
  font-size: 3vw;
  text-decoration: none;
  }

form.details button {
  margin-right: 5px;
  }

form.details input {
  color: black;
  font-size: 3vw;
  margin-left: 5px;
  }

form.file {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  }

@media only screen and (max-width: 600px) {
  a.back-to-index,
  form.file input.file,
  form.file input.submit,
  table.details td,
  table.details th,
  table.details input.description-input,
  table.details input.name-input,
  table.index button,
  table.index td,
  table.index th,
  table.info td,
  table.info th {
    font-size: 2.4vw;
    }
}

@media only screen and (min-width: 600px) {
  a.back-to-index,
  form.file input.file,
  form.file input.submit,
  table.details td,
  table.details th,
  table.details input.description-input,
  table.details input.name-input,
  table.index button,
  table.index td,
  table.index th,
  table.info td,
  table.info th {
    font-size: 2.2vw;
    }
}

@media only screen and (min-width: 768px) {
  a.back-to-index,
  form.file input.file,
  form.file input.submit,
  table.details td,
  table.details th,
  table.details input.description-input,
  table.details input.name-input,
  table.index button,
  table.index td,
  table.index th,
  table.info td,
  table.info th {
    font-size: 2.0vw;
    }
}

@media only screen and (min-width: 992px) {
  a.back-to-index,
  form.file input.file,
  form.file input.submit,
  table.details td,
  table.details th,
  table.details input.description-input,
  table.details input.name-input,
  table.index button,
  table.index td,
  table.index th,
  table.info td,
  table.info th {
    font-size: 1.8vw;
    }
}

@media only screen and (min-width: 1200px) {
  a.back-to-index,
  form.file input.file,
  form.file input.submit,
  table.details td,
  table.details th,
  table.details input.description-input,
  table.details input.name-input,
  table.index button,
  table.index td,
  table.index th,
  table.info td,
  table.info th {
    font-size: 1.6vw;
    }
}
</Style>
