<Style>
table.index {
  background-color: #ffffff;
  border: 1px solid;
  border-collapse: collapse;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  }

table.index td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  }

table.index th {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  }

table.info {
  background-color: #ffffff;
  border: 0px solid;
  border-collapse: collapse;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  }

table.info th {
  background: #ffffff;
  color: #000000;
  width: 1px;
  white-space: nowrap;
  text-align: right;
  }

table.info td {
  align: left;
  }

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  }

form input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  }

form.file {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: red;
  }

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
</Style>
