<Html>
<Head>
  <Title>File Details</Title>
{% include "dwiest-django-demos/default.css" %}
{% include "dwiest-django-demos/django-messages.css" %}
{% include "dwiest-django-demos/footer.css" %}
{% include "dwiest-django-demos/file/file.css" %}
{% load file.filters %}
{% load tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>

<Div class="filler"></Div>

{% block header %}
{% with title='File Manager' breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

{% if messages %}
<P>
{% for message in messages %}
  <Div class="{{message.tags}}">{{message}}</Div>
{% endfor %}
</P>
{% endif %}

<Table class="details">
  <Tr>
    <Th>Filename</Th>
    <Td>{{form.name}}</Td>
    </Tr>
  <Tr>
    <Th>Content-Type</Th>
    <Td>{{file.content_type}}</Td>
    </Tr>
  <Tr>
    <Th>Size</Th>
    <Td>{{file.size|format_bytes:2}}</Td>
    </Tr>
  <Tr>
    <Th>Upload Date</Th>
    <Td>{{file.created_at|date:"d/m/Y h:i:s A e"}}</Td>
    </Tr>
  <Tr>
    <Th>Anti-virus Scan Results</Th>
    <Td><i>in-progress</i></Td>
    </Tr>
  <Tr>
    <Th>MD5 Checksum</Th>
    <Td>{{file.md5_checksum}}</Td>
    </Tr>
  <Tr>
    <Th>SHA256 Checksum</Th>
    <Td>{{file.sha256_checksum}}</Td>
    </Tr>
  <Tr>
    <Th>Description</Th>
    <Td>{{form.description}}
    </Tr>
  <Tr>
    <Th>Versioning Enabled</Th>
    <Td>{{form.versioned}}</Td>
    </Tr>
  <Tr>
    <Th>File Version</Th>
    <Td>1</Td>
    </Tr>
</Table>

<Div align="center">
<Form class="details" method="post" action="{% url 'demos:file:details' %}?path={{file.path}}">
{% csrf_token %}
<Input type="hidden" name="path" value="{{file.path}}"/>
<Button><A href="{% url 'demos:file:delete' %}?path={{file.path}}">Delete File</A></Button>
<Input type="submit" value="Update"/>
</Div>
</Form>

<Div class="filler"></Div>

<Div align="center"><A class="back-to-index" href="{% url 'demos:file:index' %}"}>Back to File Index</A></Div>

<Div class="filler"></Div>

{% footer %}
</Body>
</Html>
