<Html>
<Head>
  <Title>File Demo</Title>
{% include "dwiest-django-demos/css.html" %}
{% include "dwiest-django-demos/django-messages-css.html" %}
{% include "dwiest-django-demos/footer-css.html" %}
{% include "dwiest-django-demos/file/css.html" %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
{% load file.filters %}

{% block header %}
{% with title='File Manager' breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}

<Div class="filler"></Div>

{% if messages %}
<P>
{% for message in messages %}
  <Div class="{{message.tags}}">{{message}}</Div>
{% endfor %}
</P>
{% endif %}

{% for error in form.non_field_errors %}
  <Div class="error">{{error}}</Div>
{% endfor %}

<Table class="index">
  <Tr>
    <Th>Filename</Th>
    <Th>Content-Type</Th>
    <Th>Size</Th>
    <Th>Upload Date</Th>
    <Th>Scanned?</Th>
    <Th>Action</Th>
    </Tr>
{% if not files %}
  <Tr>
    <Td colspan="6">No files have been uploaded.</Td>
    </Tr>
{% else %}
{% for file in files %}
  <Tr>
    <Td><A href="{% url 'demos:file:details' %}?path={{file.path}}">{{file.name}}</A></Td>
    <Td>{{file.content_type}}</Td>
    <Td>{{file.size|format_bytes:2}}</Td>
    <Td>{{file.created_at|date:"d/m/Y h:i:s A e"}}</Td>
    <Td>No</Td>
    <Td>
      <Button><A href="{% url 'demos:file:delete' %}?path={{file.path}}">Delete</A></Button>
      <Button><A href="{% url 'demos:file:download' %}?path={{file.path}}">Download</A></Button>
      <Button><A href="{% url 'demos:file:open' %}?path={{file.path}}" target="{{file.path}}">Open</A></Button>
      </Td>
{% endfor %}
{% endif %}
</Table>

<Div align="center">
<Table class="info">
  <Tr>
    <Th>Files:</Th>
    <Td>{{summary.files}}/{{quota.max_files}}</Td>
    </Tr>
  <Tr>
    <Th>Max. file size:</Th>
    <Td>{{quota.max_filesize|format_bytes:2}}</Td>
    </Tr>
  <Tr>
    <Th>Total file size:</Th>
    <Td>{{summary.size|format_bytes:2}}/{{quota.max_total_filesize|format_bytes:2}}</Td>
    </Tr>
  </Table>
</Div>

<Div align="center">
<Form class=file" method="post" enctype="multipart/form-data" action="{% url 'demos:file:index' %}">
{% csrf_token %}
  {{form.file}}
  <Input type="submit" value="Upload"/>
  </Form>
</Div>

<Div class="filler"></Div>

<Div class="footer">{% include "footer.html" %}</Div>
</Body>
</Html>
