<Html>
<Head>
  <Title>File Demo</Title>
{% include "dwiest-django-demos/css.html" %}
{% include "dwiest-django-demos/django-messages-css.html" %}
{% include "dwiest-django-demos/footer-css.html" %}
{% include "dwiest-django-demos/file/css.html" %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
<Style>
table {
  border: 1px solid;
  border-collapse: collapse;
  width: 90%;
  }
table th {
  color: #ffffff;
  background-color: #000000;
  font-size: 1.5vw;
  }
table td {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.25vw;
  }
.table-info {
  border: none;
}
</Style>
</Head>

<Body>
{% load file.filters %}

<Div class="content">
{% block header %}
{% with title='File Demo' %}
{% include 'header.html' %}
{% endwith %}
{% endblock %}

{% if messages %}
<P>
{% for message in messages %}
  <Div class="{{message.tags}}">{{message}}</Div>
{% endfor %}
</P>
{% endif %}

{% for error in form.non_field_errors %}
  <Div class="error-text">- {{error}} - </Div>
{% endfor %}

<P>
<Table class="table">
  <Tr>
    <Th>Filename</Th>
    <Th>Content-Type</Th>
    <Th class="center">Size</Th>
    <Th class="center">Upload Date</Th>
    <Th>Scanned?</Th>
    <Th class="center">Action</Th>
    </Tr>
{% if not files %}
  <Tr>
    <Td colspan="6" align="center">No files have been uploaded.</Td>
    </Tr>
{% else %}
{% for file in files %}
  <Tr>
    <Td><A href="{% url 'demos:file:details' %}?path={{file.path}}">{{file.name}}</A></Td>
    <Td>{{file.content_type}}</Td>
    <Td>{{file.size|format_bytes:2}}</Td>
    <Td>{{file.created_at|date:"d/m/Y h:i:s A e"}}</Td>
    <Td>No</Td>
    <Td>
      <Button><A href="{% url 'demos:file:delete' %}?path={{file.path}}">Delete</A></Button>
      <Button><A href="{% url 'demos:file:download' %}?path={{file.path}}">Download</A></Button>
      <Button><A href="{% url 'demos:file:open' %}?path={{file.path}}" target="{{file.path}}">Open</A></Button>
      </Td>
{% endfor %}
{% endif %}
</Table>
</P>

<Div align="center">
<Table class="table-info">
  <Tr>
    <Td align="right">Files:</Td>
    <Td>{{summary.files}}/{{quota.max_files}}</Td>
    </Tr>
  <Tr>
    <Td align="right">Max. file size:</Td>
    <Td>{{quota.max_filesize|format_bytes:2}}</Td>
    </Tr>
  <Tr>
    <Td align="right">Total file size:</Td>
    <Td>{{summary.size|format_bytes:2}}/{{quota.max_total_filesize|format_bytes:2}}</Td>
    </Tr>
  </Table>
</Div>

<P>
<Form method="post" enctype="multipart/form-data" action="{% url 'demos:file:index' %}">
{% csrf_token %}
  {{form.file}}
  <Input type="submit" value="Upload"/>
  </Form>
</P>
</Div>

<Div class="footer">{% include "footer.html" %}</Div>
</Body>
</Html>
