<Html>

<Head>
  <Title>Entry Edit</Title>
  {% include 'dwiest-django-demos/default.css' %}
  {% include 'dwiest-django-demos/django-messages.css' %}
  {% include 'dwiest-django-demos/journal/journal.css' %}
  {% load dwiest_django_demos.tags%}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </Head>

<Body>

<Div>
{% block header %}
{% with title='Entry Edit' breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}
</Div>

<Div class="filler"></Div>

{% include 'dwiest-django-demos/bookmarks/django-messages.html' %}

{% include 'dwiest-django-demos/bookmarks/errors.html' %}

<Form method="POST" action={% url 'demos:journal:entry_edit' %}>
{% csrf_token %}
{% if form.instance.id %}
<Input type="hidden" name="id" value="{{form.instance.id}}"/>
{% endif %}
<Input type="hidden" name="journal" value="{{request.GET.journal}}"/>

<Div align="left" style="margin:20px;padding:20px;align:right;padding-bottom:10px;">
  <Table width="100%" style="border-spacing:0px;border:solid;" border="1">
    <Tr style="background-color:orange;">
      <Td style="padding-left:10px;">
        <Span style="font-size:4vw;font-family:Times New Roman;">
          <A style="text-decoration:none;color:black;" href="{% url 'demos:journal:entry_edit' %}?id={{form.instance.id}}">{{form.instance.date|date:'l -  F j, Y'}}</A>
        </Span>
	<Div>
	  {{form.date}}
	</Div>
      </Td>
      <Td style="width: 1%;white-space:nowrap;padding-right:10px;">
        <Div style="font-size:1vw;align:left;">
          {% include 'dwiest-django-demos/journal/journal-stats.html' %}
        </Div>
      </Td>
    </Tr>
    <Tr>
      <Td colspan="2">
	<Div style="font-family:Helvetica;margin-top:5px;width:100%;height:200px;">{{form.content}}</Div>
        <Div>
          Created at:
          {{form.instance.created_at}}
        </Div>
        <Div>
          Last modified:
          {{form.instance.last_modified}}
        </Div>
        <Div>
          Status:
          {{form.status.label}}: {{form.status}}
        </Div>
        <Input type="submit" value="Update Entry"></Input>
      </Td>
    </Tr>
  </Table>
</Div>

</Form>


<Div class="filler"></Div>

{% footer %}
</Body>
</Html>
