<Html>

<Head>
  <Title>Journal</Title>
  {% include 'dwiest-django-demos/default.css' %}
  {% include 'dwiest-django-demos/django-messages.css' %}
  {% include 'dwiest-django-demos/journal/journal.css' %}
  {% load dwiest_django_demos.tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </Head>

<Body>

{% include "dwiest-django-demos/hamburgernav.html" %}

<Div style="height:50px;"></Div>
<Div>
{% block header %}
{% with title='Journal' breadcrumbs=True %}
{% include 'dwiest-django-demos/header.html' %}
{% endwith %}
{% endblock %}
</Div>

{% include 'dwiest-django-demos/bookmarks/django-messages.html' %}

{% include 'dwiest-django-demos/bookmarks/errors.html' %}

<Div style="margin-left:50px;">
<A style="text-decoration:none;color:black;" href="{% url 'demos:journal:edit' %}?id={{journal.id}}">
{% include 'dwiest-django-demos/journal/journal-info.html' %}
</A>
</Div>

<P>
<Div style="margin-left:100px;font-size:2vw;">
<A href="{% url 'demos:journal:entry_edit' %}?journal={{journal.id}}">Add Entry</A>
</Div>

{% for entry in entries %}
{% include 'dwiest-django-demos/journal/journal-entry.html' %}
{% endfor %}

<Div class="filler"></Div>

{% footer %}
</Body>
</Html>
